{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": [
        "src/**/*.ts"
      ],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}

